body {
    background-color: antiquewhite;
}

h1 {
    font-family: cursive;
    text-decoration: underline black 1px;
    font-size: 28pt;
}

form {
    font-size: 26pt;
}

div {
    border: black solid 1px;
}

button {
    font-size: 25pt;
    margin: 5px;
    padding: 2px;
}

.modal {
    display: none;
    width: 1500px;
    height: 1500px;
    position: absolute;
    left: 600px;
    top: 3000px;
    background-color: rgb(255, 255, 255);
}

.results {
    display: flex;
    flex-direction: column;
    height: 1500px;
    width: 1500px;
    text-align: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40pt;
}

span {
    border: tomato solid 1px;
    border-radius: 60%;
    position: absolute;
    top: 0;
    right: 0;
}
input[type="radio"] {
    transform: scale(1.5);
}